:root {
    --bs-blue: #335AF4;
    --bs-purple: #A449FF;
    --bs-pink: #d63384;
    --bs-red: #FB4F57;
    --bs-red-1: rgba(251, 79, 88, 0.1);
    --bs-red-2: rgba(251, 79, 88, 0.2);
    --bs-red-3: rgba(251, 79, 88, 0.3);
    --bs-red-4: rgba(251, 79, 88, 0.4);
    --bs-red-6: rgba(251, 79, 88, 0.6);
    --bs-orange: #FF7049;
    --bs-yellow: #EC8002;
    --bs-yellow-1: rgba(236, 128, 2, 0.1);
    --bs-yellow-2: rgba(236, 128, 2, 0.2);
    --bs-yellow-3: rgba(236, 128, 2, 0.3);
    --bs-yellow-4: rgba(236, 128, 2, 0.4);
    --bs-yellow-6: rgba(236, 128, 2, 0.6);
    --bs-green: #26A69A;
    --bs-green-6: rgba(38, 166, 154, 0.6);
    --bs-green-4: rgba(38, 166, 154, 0.4);
    --bs-green-3: rgba(38, 166, 154, 0.3);
    --bs-green-2: rgba(38, 166, 154, 0.2);
    --bs-green-1: rgba(38, 166, 154, 0.1);
    --bs-gray: #8492A7;
    --bs-gray-1: rgba(132, 146, 167, 0.1);
    --bs-gray-2: rgba(132, 146, 167, 0.2);
    --bs-gray-3: rgba(132, 146, 167, 0.3);
    --bs-gray-4: rgba(132, 146, 167, 0.4);
    --bs-gray-6: rgba(132, 146, 167, 0.6);
    --bs-gray-dark: #6E7191;
    --bs-gray-light: #B6BEC7;
    --bs-primary: var(--bs-blue);
    --bs-primary-light: #EBEFFE;
    --bs-primary-light-1: rgba(51, 90, 244, 0.1);
    --bs-primary-light-3: rgba(51, 90, 244, 0.3);
    --bs-box-shadow: 10px 10px 44px rgba(0, 0, 0, 0.06);
    --bs-list-group-border-color: #E9ECF4;
    --bs-secondary: #15134B;
    --bs-success: var(--bs-green);
    --bs-warning: var(--bs-orange);
    --bs-danger: var(--bs-red);
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 51, 90, 244;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-color: var(--bs-gray);
    --bs-body-bg: #F7F8FB;
    --bs-border-width: 1px;
    --bs-border-color: #DEE2EE;
    --bs-config-title-color: #5A5881;
    --bs-border-color-translucent: var(--bs-gray);
    --bs-border-radius: 10px;
    --bs-border-radius-sm: 4px;
    --bs-border-radius-lg: 6px;
    --bs-border-radius-xl: 12px;
    --bs-border-radius-2xl: 24px;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: var(--bs-blue);
    --bs-link-hover-color: #0a58ca;
    --bs-dropdown-item-color: #A3ABBD;
    --bs-table-striped-color: var(--bs-gray);
    --bs-body-font-size: .875rem;
    --heading-1-size: 1.875rem;
    --heading-1-line-height: 2.1875rem;
    --heading-2-size: 1.5rem;
    --heading-2-line-height: 1.8125rem;
    --heading-3-size: 1.25rem;
    --heading-3-line-height: 1.4375;
    --heading-4-size: 1rem;
    --heading-4-line-height: 1.125rem;
    --heading-5-size: 1em;
    --heading-5-line-height: 1.0625rem;
    --heading-6-size: .75rem;
    --heading-6-line-height: .9375rem;
    --font-bold: 700;
    /* --font-semi-bold: 700; */
    --font-medium: 500;
    --font-regular: 400;
    --font-light: 300;
    --bs-nav-link-font-size: var(--bs-body-font-size);
    --bs-btn-height: 48px;
    --progress-val: 0;
    --progress-box-shadow-blue: 0px 33.1034px 55.1724px rgba(199, 194, 227, 0.67);
    --progress-box-shadow-orange: 0px 33.1034px 55.1724px rgba(255, 209, 194, 0.67);
    --progress-box-shadow-green: 0px 33.1034px 55.1724px #D3FFD5;
    --progress-box-shadow-purple: 0px 33.1034px 55.1724px rgba(230, 205, 255, 0.67);
    --progress-bg-blue: #EFECFF;
    --progress-bg-orange: #FFF2EE;
    --progress-bg-green: #E4FFE6;
    --progress-bg-purple: #F5EBFF;
    --dashboard-widget-box-shadow: 0px 20px 45px #F0EDF7;

    /* Breakpoints */
    --xs: 0;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;
}

::-webkit-scrollbar {
    width: 2px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: var(--bs-gray-2);
}

::-webkit-scrollbar-thumb {
    background: var(--bs-blue);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bs-gray);
}

html,
body {
    min-width: 320px;
    margin: 0;
}

body {
    line-height: 1rem;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: var(--bs-body-bg);
}

html {
    height: -webkit-fill-available;
}

main {
    min-height: 100vh;
}

.icon {
    width: 20px;
    height: 20px;
}

.vr {
    display: inline-block;
    align-self: stretch;
    width: 1px;
    min-height: 1em;
    background-color: currentcolor;
    opacity: .25;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: var(--bs-white);
    --bs-nav-pills-link-active-bg: var(--bs-primary);
}

h1 {
    font-size: var(--heading-1-size);
    line-height: var(--heading-1-line-height);
}

h1,
h2 {
    font-weight: var(--font-bold);
    letter-spacing: 0.5px;
}

h2 {
    font-size: var(--heading-2-size);
    line-height: var(--heading-2-line-height);
}

h3 {
    font-size: var(--heading-3-size);
    line-height: var(--heading-3-line-height);
}

h4 {
    font-size: var(--heading-4-size);
    line-height: var(--heading-4-line-height);
    letter-spacing: 0.2px;
}

h5 {
    font-size: var(--heading-5-size);
    line-height: var(--heading-5-line-height);
}

h6 {
    font-size: var(--heading-6-size);
    line-height: var(--heading-6-line-height);
}

.font-bold {
    font-weight: var(--font-bold);
}

.font-medium {
    font-weight: var(--font-medium);
}

.font-regular {
    font-weight: var(--font-regular);
}

.font-light {
    font-weight: var(--font-light);
}

.px-32 {
    padding-left: 2rem;
    padding-right: 2rem;
}

html:not([dir="rtl"]) .pl-32 {
    padding-left: 2rem;
}

html[dir="rtl"] .pl-32 {
    padding-right: 2rem;
}

html:not([dir="rtl"]) .pr-32 {
    padding-right: 2rem;
}

html[dir="rtl"] .pr-32 {
    padding-left: 2rem;
}

.px-24 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

html:not([dir="rtl"]) .pl-24 {
    padding-left: 1.5rem;
}

html[dir="rtl"] .pl-24 {
    padding-right: 1.5rem;
}

.pt-24 {
    padding-top: 1.5rem;
}

.pb-24 {
    padding-bottom: 1.5rem;
}

html:not([dir="rtl"]) .pr-24 {
    padding-right: 1.5rem;
}

html[dir="rtl"] .pr-24 {
    padding-left: 1.5rem;
}

.pl-20 {
    padding-left: 1.25rem;
}

html:not([dir="rtl"]) .pr-20 {
    padding-right: 1.25rem;
}

html[dir="rtl"] .pr-20 {
    padding-left: 1.25rem;
}

.px-20 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.py-32 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pt-32 {
    padding-top: 2rem;
}

.py-24 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.pt-24 {
    padding-top: 1.5rem;
}

.pb-24 {
    padding-bottom: 1.5rem;
}

.mx-32 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-24 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.my-32 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mt-32 {
    margin-top: 2rem;
}

.my-24 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mt-24 {
    margin-top: 1.5rem;
}

.mt-20 {
    margin-top: 1.25rem;
}

ul {
    padding: 0;
}

html:not([dir="rtl"]) .ml-14 {
    margin-left: 1em;
}

html:not([dir="rtl"]) .mr-14 {
    margin-right: 1em;
}

html[dir="rtl"] .ml-14 {
    margin-right: 1em;
}

html[dir="rtl"] .mr-14 {
    margin-left: 1em;
}

html:not([dir="rtl"]) .ml-20 {
    margin-left: 1.25rem;
}

html:not([dir="rtl"]) .mr-20 {
    margin-right: 1.25rem;
}

html[dir="rtl"] .mr-20 {
    margin-left: 1.25rem;
}

html[dir="rtl"] .ml-20 {
    margin-right: 1.25rem;
}

.h-40 {
    height: 2.5rem;
}

.w-40 {
    width: 2.5rem;
    min-width: 2.5rem;
}

a {
    text-decoration: none;
}

a:not(.nav-link, .btn, .dropdown-item):hover {
    text-decoration: underline;
}

.btn {
    padding: .75rem 1.25rem;
    white-space: nowrap;
    --bs-btn-border-radius: var(--bs-border-radius);
}

.btn .hovered,
.btn:hover .default {
    display: none
}

.btn .default,
.btn:hover .hovered {
    display: block;
}

.btn-outline-custom {
    border: 1px solid var(--bs-border-color);
    color: var(--bs-gray);
}

.btn-outline-custom:hover {
    border-color: var(--bs-secondary);
    color: var(--bs-secondary);
}

.blue {
    color: var(--bs-blue)
}

.orange {
    color: var(--bs-orange);
}

.purple {
    color: var(--bs-purple);
}

.green {
    color: var(--bs-green);
}

html:not([dir="rtl"]) .soial-icon~span {
    margin-left: 0.75rem;
}

html[dir="rtl"] .soial-icon~span {
    margin-right: 0.75rem;
}

.info-btn {
    min-width: 14px;
    height: 14px;
    padding: 0;
}

html:not([dir="rtl"]) .info-btn {
    margin-left: 8px;
}

html[dir="rtl"] .info-btn {
    margin-right: 8px;
}

.btn-primary-light:not(.active) {
    background: var(--bs-primary-light) !important;
    color: var(--bs-primary) !important;
}

.btn-primary-light:not(.active):hover {
    background-color: var(--bs-primary) !important;
    color: var(--bs-white) !important;
}

.btn-delete:not(.bg-none) {
    background-color: var(--bs-red-1);
    color: var(--bs-red);
}

.scrollarea {
    overflow-y: auto;
    overflow-x: hidden;
}

html[dir="rtl"] .breadcrumb-item+.breadcrumb-item {
    padding-right: var(--bs-breadcrumb-item-padding-x);
    padding-left: initial;
    display: flex;
}

html[dir="rtl"] .breadcrumb-item+.breadcrumb-item::before {
    padding-left: var(--bs-breadcrumb-item-padding-x);
    padding-right: initial;
}

/* Circle Progress styles */
.circle-progress {
    width: 64px;
    min-width: 64px;
    height: 64px;
    border-radius: var(--bs-border-radius-pill);
    position: relative;
}

.blue .circle-progress {
    box-shadow: var(--progress-box-shadow-blue);
    color: var(--bs-blue);
}

.blue .circle-progress svg {
    background-color: var(--progress-bg-blue);
}

.orange .circle-progress {
    box-shadow: var(--progress-box-shadow-orange);
    color: var(--bs-orange);
}

.orange .circle-progress svg {
    background-color: var(--progress-bg-orange);
}

.green .circle-progress {
    box-shadow: var(--progress-box-shadow-green);
    color: var(--bs-green);
}

.green .circle-progress svg {
    background-color: var(--progress-bg-green);
}

.purple .circle-progress {
    box-shadow: var(--progress-box-shadow-purple);
    color: var(--bs-purple);
}

.purple .circle-progress svg {
    background-color: var(--progress-bg-purple);
}

.circle-progress svg {
    width: 100%;
    height: 100%;
    fill: none;
    border-radius: 50%;
    /* -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); */
}

.circle-progress svg .percent {
    stroke-dasharray: 100;
    stroke-dashoffset: calc(100 - var(--round-percent));
    position: relative;
    z-index: 1;
    stroke: currentColor;
    stroke-linecap: round;
}

.circle-progress h6 {
    margin-bottom: 0;
    margin-top: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: currentColor;
}

.circle-progress[data-progress="0"] .percent {
    --round-percent: 0;
}

.circle-progress[data-progress="13"] .percent {
    --round-percent: 13;
}

.circle-progress[data-progress="25"] .percent {
    --round-percent: 25;
}

.circle-progress[data-progress="28"] .percent {
    --round-percent: 28;
}

.circle-progress[data-progress="38"] .percent {
    --round-percent: 38;
}

.circle-progress[data-progress="50"] .percent {
    --round-percent: 50;
}

.circle-progress[data-progress="63"] .percent {
    --round-percent: 63;
}

.circle-progress[data-progress="75"] .percent {
    --round-percent: 75;
}

.circle-progress[data-progress="83"] .percent {
    --round-percent: 83;
}

.circle-progress[data-progress="100"] .percent {
    --round-percent: 100;
}

.card {
    --bs-card-border-radius: var(--bs-border-radius);
}

.custom-popover {
    --bs-popover-max-width: 196px;
    --bs-popover-border-color: var(--bs-border-color);
    --bs-popover-header-bg: var(--bs-primary-light-1);
    --bs-popover-header-color: var(--bs-blue);
    --bs-popover-body-padding-x: 10px;
    --bs-popover-body-padding-y: .5rem;
}

.popover {
    --bs-popover-body-color: var(--bs-gray-light);
    --bs-popover-font-size: 12px;
    --bs-popover-header-font-size: 12px;
}

/* Form style */
.form-control,
.form-select {
    height: 48px;
    background-color: var(--bs-body-bg);
    border: 0;
    border-radius: var(--bs-border-radius);
    outline: none;
    box-shadow: none;
    color: var(--bs-dropdown-item-color);
}

html[dir="rtl"] .form-select {
    background-position: left .75rem center;
}

.bordered .form-control,
.bordered .form-select {
    border: 1px solid var(--bs-border-color);
}

.form-group {
    margin-top: 1.625rem;
    position: relative;
}

.form-group label {
    color: var(--bs-secondary);
}

.form-group label:not(.form-check-label) {
    color: var(--bs-secondary);
}

.input-group {
    position: relative;
}

.btn-show-value {
    position: absolute !important;
    right: 1rem;
    top: .75rem;
    width: 30px !important;
    height: 30px !important;
    z-index: 10 !important;
}

.form-control::placeholder,
.form-select::placeholder {
    color: var(--bs-dropdown-item-color);
}

.form-check {
    display: flex;
    align-items: center;
}

html[dir="rtl"] .form-check {
    padding-left: 0;
    padding-right: 1.5em;
}

.form-check-label {
    position: relative;
    cursor: pointer;
}

.form-check .form-check-input {
    margin-top: 0;
    margin-bottom: 0;
}

html[dir="rtl"] .form-check .form-check-input {
    margin-left: 0;
    margin-right: -1.5em;
}

.form-check.theme-style .form-check-input {
    width: 20px;
    height: 20px;
    border-radius: var(--bs-border-radius-lg);
    border-color: var(--bs-border-color);
}

html:not([dir="rtl"]) .form-check.theme-style .form-check-label {
    padding-left: .75rem;
}

html[dir="rtl"] .form-check.theme-style .form-check-label {
    padding-right: .75rem;
}

.invalid-feedback,
.valid-feedback {
    margin-top: .5rem;
}

/* Dropdown style */
.dropdown-menu.dropdown-menu-dark {
    background-color: var(--bs-body-bg);
}

.dropdown-menu {
    border-color: var(--bs-border-color);
    padding-left: .25rem;
    padding-right: .25rem;
    font-size: 1rem;
    line-height: 19px;
    overflow: hidden;
}

.dropdown-menu.shadow {
    box-shadow: var(--bs-box-shadow) !important;
}

.dropdown-menu li a,
.dropdown-menu .dropdown-item {
    padding: 10px 14px;
    color: var(--bs-dropdown-item-color);
    font-weight: var(--font-regular);
}

.dropdown-menu li:hover a,
.dropdown-menu .dropdown-item:hover {
    color: var(--bs-secondary);
    background-color: var(--bs-body-bg);
}

.dropdown-divider {
    border-color: var(--bs-border-color);
}

/* Sidebar style */
.sidebar {
    padding: 1.875rem 0 2.25rem;
    max-height: 100vh;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 100;
    transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

html:not([dir="rtl"]) .sidebar {
    left: 0;
    padding-left: 1.5rem;
}

html[dir="rtl"] .sidebar {
    right: 0;
    padding-right: 1.5rem;
}

.logo-wrap {
    color: var(--bs-secondary);
}

.sidebar .nav-link {
    color: var(--bs-gray-light);
    border-radius: var(--bs-border-radius);
    padding: .75rem;
    white-space: nowrap;
    margin-top: 1rem;
    font-weight: var(--font-medium);
    font-size: 100%;
    position: relative;
    width: calc(100% - .75rem);
    /* margin-right: .75rem; */
}

.sidebar .nav-link svg {
    width: 20px;
    height: 20px;
}

html:not([dir="rtl"]) .sidebar .nav-link svg {
    margin-right: .5rem;
}

html[dir="rtl"] .sidebar .nav-link svg {
    margin-left: .5rem;
}

.sidebar .nav-link svg path,
.sidebar .nav-link.active svg path {
    fill: currentColor;
}

.sidebar .nav-link:not(.active):hover {
    color: var(--bs-secondary);
}

.sidebar .nav-link[aria-expanded="true"],
.sidebar .nav-link[aria-expanded="true"]:hover {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--bs-nav-pills-link-active-bg);
}

.sidebar .nav-link.btn-toggle::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: url(../images/icons/arrow-up-white.png) no-repeat center;
}

html:not([dir="rtl"]) .sidebar .nav-link.btn-toggle::after {
    right: 1rem;
}

html[dir="rtl"] .sidebar .nav-link.btn-toggle::after {
    left: 1rem;
}

html:not([dir="rtl"]) .nav-dropdown-wrap {
    padding-left: 1.25rem;
}

html[dir="rtl"] .nav-dropdown-wrap {
    padding-right: 1.25rem;
}

.nav-dropdown {
    position: relative;
}

.nav-dropdown::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--bs-border-color-translucent);
    opacity: 0.2;
}

.sidebar .nav-dropdown .nav-link {
    padding-top: .375rem;
    padding-bottom: .375rem;
    line-height: .875rem;
    margin-top: .75rem;
    position: relative;
}

html:not([dir="rtl"]) .sidebar .nav-dropdown .nav-link {
    padding-left: 1.375rem;
}

html[dir="rtl"] .sidebar .nav-dropdown .nav-link {
    padding-right: 1.375rem;
}

.sidebar .nav-dropdown .nav-link::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: currentColor;
    opacity: 0;
}

html:not([dir="rtl"]) .sidebar .nav-dropdown .nav-link::before {
    left: 0;
}

html[dir="rtl"] .sidebar .nav-dropdown .nav-link::before {
    right: 0;
}

.sidebar .nav-dropdown .nav-link:hover,
.sidebar .nav-dropdown .nav-link.active {
    color: var(--bs-primary);
    background-color: inherit;
}

.nav-dropdown .nav-link:hover::before,
.sidebar .nav-dropdown .nav-link.active::before {
    opacity: 1;
}

.content-divider {
    position: relative;
    z-index: 2;
}

.content-divider::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 1px;
    margin-top: -.5px;
    background-color: var(--bs-border-color);
    z-index: -1;
}

.content-divider span {
    display: inline-block;
    padding: .25rem .75rem;
    background-color: var(--bs-white);
    position: relative;
    z-index: 3;
    font-size: 100%;
}

/* Main container */
.main-container {
    flex-grow: 1;
}

/* header style */
.search-form {
    position: relative;
    width: 394px;
}

.search-icon {
    position: absolute;
}

html:not([dir="rtl"]) .search-icon {
    left: 1.125rem;
}

html[dir="rtl"] .search-icon {
    right: 1.125rem;
}

.search-form input {
    padding-top: .9375rem;
    padding-bottom: .9375rem;
    font-size: var(--bs-body-font-size);
    color: var(--bs-gray);
    background-color: var(--bs-white);
}

html:not([dir="rtl"]) .search-form input {
    padding-left: 3.25rem;
    padding-right: 1.5rem;
}

html[dir="rtl"] .search-form input {
    padding-right: 3.25rem;
    padding-left: 1.5rem;
}

.search-form input::placeholder {
    color: var(--bs-gray-light);
}

.selecct-hotel {
    padding: .75rem;
    font-weight: var(--font-medium);
}

.dropdown-toggle::after {
    width: 14px;
    height: 14px;
    background: url(../images/icons/arrow-down.png) no-repeat center;
    border: 0;
}

html:not([dir="rtl"]) .dropdown-toggle::after {
    margin-left: 1rem;
}

html[dir="rtl"] .dropdown-toggle::after {
    margin-right: 1rem;
}

.table-dropdown .dropdown-toggle::after {
    background-image: url(../images/icons/more.png);
}

html:not([dir="rtl"]) .table-dropdown .dropdown-toggle::after {
    margin-left: auto;
}

html[dir="rtl"] .table-dropdown .dropdown-toggle::after {
    margin-right: auto;
}

.table-dropdown .dropdown-menu {
    padding: 0;
    border: 1px solid var(--bs-border-color);
}

.table-dropdown .dropdown-menu li .dropdown-item {
    font-size: 12px;
    padding: 6px 10px;
}

.table-dropdown .dropdown-menu li:not(:last-child) .dropdown-item {
    border-bottom: 1px solid var(--bs-border-color);
}

.dropdown-toggle,
.header-item {
    color: var(--bs-gray-light);
}

.dropdown-toggle:hover {
    color: var(--bs-secondary);
}

.btn.header-item {
    padding: 0;
}

.language-options {
    padding: .75rem;
}

.language-btn {
    color: currentColor;
    padding-left: 0;
    padding-right: 0;
}

html:not([dir="rtl"]) .language-btn:first-child {
    margin-right: 10px;
}

html[dir="rtl"] .language-btn:first-child {
    margin-left: 10px;
}

html:not([dir="rtl"]) .language-btn:last-child {
    margin-left: 10px;
}

html[dir="rtl"] .language-btn:last-child {
    margin-right: 10px;
}

.language-btn.active {
    color: var(--bs-primary);
}

html:not([dir="rtl"]) .header-item {
    margin-left: 14px;
}

html[dir="rtl"] .header-item {
    margin-right: 14px;
}

html:not([dir="rtl"]) .profile-toggle::after {
    margin-left: 14px;
}

html[dir="rtl"] .profile-toggle::after {
    margin-right: 14px;
}

.title-text {
    color: var(--bs-secondary);
    margin-bottom: 0;
}

/* Filter row style */
.filter-row {
    margin-right: calc(-.5 * .5rem);
    margin-left: calc(-.5 * .5rem);
}

.filter-row:first-child {
    margin-top: calc(-.5 * .5rem);
}

.filter-row .btn {
    min-width: 94px;
    height: var(--bs-btn-height)
}

.filter-row>* {
    padding-left: calc(.5rem * .5);
    padding-right: calc(.5rem * .5);
    margin-top: calc(.5 * .5rem);
    margin-bottom: calc(.5 * .5rem);
}

html:not([dir="rtl"]) .filter-row .btn-wrap {
    margin-left: auto;
}

html[dir="rtl"] .filter-row .btn-wrap {
    margin-right: auto;
}

html:not([dir="rtl"]) .page-content-card {
    padding-left: 20px;
}

html[dir="rtl"] .page-content-card {
    padding-right: 20px;
}

/* Table style */
.table-wrap {
    margin-top: 12px;
    max-width: 100%;
    overflow: auto;
}

.table {
    margin-bottom: 0;
}

.table>thead {
    position: sticky;
    top: 0;
    z-index: 9;
}

.table th,
.table td {
    font-weight: var(--font-medium);
    vertical-align: middle;
    border: 0;
    height: 46px;
    position: relative;
    white-space: nowrap;
}

.table th:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 1px;
    background: rgba(132, 146, 167, 0.2);
}

html:not([dir="rtl"]) .table th:not(:first-child)::before {
    left: 0;
}

html[dir="rtl"] .table th:not(:first-child)::before {
    right: 0;
}

html:not([dir="rtl"]) .table-striped>thead>tr>th:nth-of-type(1) {
    padding-left: 16px;
}

html[dir="rtl"] .table-striped>thead>tr>th:nth-of-type(1) {
    padding-right: 16px;
}

html:not([dir="rtl"]) .table-striped>tbody>tr>th:nth-of-type(1) {
    padding-left: 12px;
}

html[dir="rtl"] .table-striped>tbody>tr>th:nth-of-type(1) {
    padding-right: 12px;
}

.table .form-check-label {
    line-height: 14px;
}

html:not([dir="rtl"]) .table .form-check-label {
    padding-left: 8px;
}

html[dir="rtl"] .table .form-check-label {
    padding-right: 8px;
}

.table .form-check-input {
    width: 14px;
    height: 14px;
}

.table .form-control {
    height: 26px;
    padding: 6px 8px;
    border: 1px solid rgba(132, 146, 167, 0.4);
    border-radius: 4px;
    background-color: var(--bs-white);
    width: 40px;
    min-width: 10px;
    font-size: 12px;
    line-height: 14px;
}

.table .form-control[type="number"] {
    text-align: center;
}

.table-striped>thead>tr>th,
.table-striped>tbody>tr:nth-of-type(even)>* {
    --bs-table-accent-bg: var(--bs-body-bg);
    color: var(--bs-table-striped-color);
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: var(--bs-white);
    color: var(--bs-table-striped-color);
}

.text-green {
    color: var(--bs-green) !important;
}

.text-blue {
    color: var(--bs-blue) !important;
}

.status {
    padding: 3px 6px;
    border-radius: 4px;
    height: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.status::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.4;
}

html:not([dir="rtl"]) .status::before {
    left: 0;
}

html[dir="rtl"] .status::before {
    right: 0;
}

.status.confirm {
    color: var(--bs-green);
    border: 1px solid var(--bs-green-4);
}

.status.confirm::before {
    background: var(--bs-green-3);
}

.status.pending {
    color: var(--bs-yellow);
    border: 1px solid var(--bs-yellow-4);
}

.status.pending::before {
    background: var(--bs-yellow-3);
}

.status.in-house {
    color: var(--bs-red);
    border: 1px solid var(--bs-red-4);
}

.status.in-house::before {
    background: var(--bs-red-3);
}

.status.cancel {
    color: var(--bs-gray);
    border: 1px solid var(--bs-gray-4);
}

.status.cancel::before {
    background: var(--bs-gray-3);
}

/* Popover style */
.popover-header {
    padding: 10px 10px 6px;
}

.popover-body {
    padding: 6px 10px 10px;
}

/* Login page style */
.user-login {
    font-size: 17px;
}

/* .user-login a{
    text-decoration: none;
} */

.user-login .title-text {
    margin-top: 3.75rem;
    font-size: 2.25rem;
    line-height: 2.625rem;
}

/* .user-login a:hover{
    text-decoration: underline;
} */
.content-wrapper .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.figure-wrap {
    background-color: var(--bs-blue);
    background-image: url(../images/login-figure.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
}

.figure-wrap .title-text {
    max-width: 348px;
    padding-top: 15%;
}

.forgot-password-link {
    color: var(--bs-gray);
}

.user-login .form-label {
    font-size: 18px;
    line-height: 24px;
    font-weight: var(--font-medium);
}

.user-login .form-control {
    background-color: var(--bs-white);
    padding: 20px 30px;
    height: inherit;
}

html:not([dir="rtl"]) .user-login .form-check {
    padding-left: 2.5rem;
}

html[dir="rtl"] .user-login .form-check {
    padding-right: 2.5rem;
}

.user-login .form-check .form-check-input {
    width: 1.625rem;
    height: 1.625rem;
    border-color: var(--bs-border-color);
    border-radius: 6px;
}

html:not([dir="rtl"]) .user-login .form-check .form-check-input {
    margin-left: -2.5rem;
}

html[dir="rtl"] .user-login .form-check .form-check-input {
    margin-right: -2.5rem;
}

.user-login .form-check-label {
    font-size: 17px;
    font-weight: var(--font-medium);
    color: var(--bs-secondary) !important;
}

html:not([dir="rtl"]) .user-login .form-check-label {
    padding-left: 14px;
}

html[dir="rtl"] .user-login .form-check-label {
    padding-right: 14px;
}

.user-login .btn {
    padding: 18px 30px;
    height: auto;
}

.user-login .form-check-input.is-valid:checked,
.user-login .was-validated .form-check-input:valid:checked {
    background-color: var(--bs-blue);
    box-shadow: 0 0 0 0.25rem rgb(51 90 244 / 25%);
}

.user-login p {
    color: var(--bs-gray-light);
}

.user-login .btn-show-value {
    top: 18px;
}

/* Gobal configuration page style */
.global-configuration-container .page-title-row .search-form {
    min-width: 48px;
    min-height: 48px;
}

.global-configuration-container .page-title-row .form-control {
    border: 1px solid transparent;
    box-shadow: none;
    border-radius: var(--bs-border-radius-pill);
    width: 0;
}

html:not([dir="rtl"]) .global-configuration-container .page-title-row .form-control {
    padding-left: 1rem;
    padding-right: 1.75rem;
}

html[dir="rtl"] .global-configuration-container .page-title-row .form-control {
    padding-right: 1rem;
    padding-left: 1.75rem;
}

.btn-expand-search {
    width: 48px;
    height: 48px;
    z-index: 4;
    border: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
}

html:not([dir="rtl"]) .btn-expand-search {
    right: 0;
}

html[dir="rtl"] .btn-expand-search {
    left: 0;
}

.global-configuration-container .page-title-row .form-control:focus {
    border: 1px solid var(--bs-blue);
    box-shadow: none;
}

.global-configuration-container .page-title-row .form-control:focus~.btn-expand-search {
    border: 1px solid var(--bs-blue);
}

.configuration-card-item {
    padding: 1.25rem 1.625rem;
    border-color: var(--bs-white);
    margin-top: 1.5rem;
}

.configuration-card-item:hover {
    background-color: var(--bs-primary-light-1);
    box-shadow: var(--bs-box-shadow);
    border-color: var(--bs-primary-light-3);
}

.configuration-card-title-row .icon {
    width: 47px;
    height: 47px;
    border-radius: var(--bs-border-radius);
    background-color: var(--bs-primary-light-1);
    margin-bottom: 0;
}

.configuration-card-item .hovered,
.configuration-card-item:hover .default {
    display: none;
}

.configuration-card-item:hover .configuration-card-title-row .icon,
.configuration-card-item:hover .btn {
    background-color: var(--bs-primary) !important;
    color: var(--bs-white) !important;
}

.configuration-card-item:hover .btn {
    border-color: var(--bs-primary) !important;
}

.configuration-card-item .btn:hover {
    cursor: pointer !important;
}

.configuration-card-item:hover .hovered {
    display: block;
}

.configuration-card-title-row .icon~.card-title {
    margin-bottom: 0;
}

html:not([dir="rtl"]) .configuration-card-title-row .icon~.card-title {
    margin-left: 1rem;
}

html[dir="rtl"] .configuration-card-title-row .icon~.card-title {
    margin-right: 1rem;
}

.configuration-card-title-row .card-title {
    color: var(--bs-secondary);
}

.configuration-card-title-row .btn-add {
    width: 48px;
    height: 48px;
    padding: 10px;
    border-radius: var(--bs-border-radius-xl);
    border: 1px solid var(--bs-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.configuration-card-title-row .btn-add img {
    width: 24px;
    height: 24px;
}

.current-role {
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-weight: var(--font-medium);
}

.current-role~p {
    margin-top: 2px;
    margin-bottom: 0;
    display: block;
}

/* Global configuration single */
.breadcrumb {
    --bs-breadcrumb-item-active-color: var(--bs-blue);
    color: var(--bs-gray-light);
    --bs-breadcrumb-divider-color: var(--bs-gray-light);
}

.breadcrumb a {
    color: currentColor;
    font-weight: var(--font-medium);
    /* text-decoration: none; */
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.tab-contents {
    padding-top: 10px;
}

.config-items-tab .nav-pills {
    margin-top: -.75rem;
}

html:not([dir="rtl"]) .config-items-tab .nav-pills {
    margin-left: -.75rem;
}

html[dir="rtl"] .config-items-tab .nav-pills {
    margin-right: -.75rem;
}

.config-items-tab .nav-item {
    font-size: 1rem;
    line-height: 1.1875rem;
    font-weight: var(--font-medium);
    margin-top: .75rem;
}

html:not([dir="rtl"]) .config-items-tab .nav-item {
    margin-left: .75rem;
}

html[dir="rtl"] .config-items-tab .nav-item {
    margin-right: .75rem;
}

.config-items-tab .nav-link {
    min-width: 219px;
}

/* config single card style */
.config-items-tab .tab-item .card {
    margin-top: 20px;
    border-color: var(--bs-white);
}

.config-items-tab .tab-item .card-header,
.config-items-tab .tab-item .card-body {
    padding: 30px 30px 6px;
    background-color: var(--bs-white);
    border: 0;
}

.config-items-tab .tab-item .card-body {
    padding-bottom: 25px;
}

.config-items-tab .tab-item .title-text {
    color: var(--bs-config-title-color);
}

.config-items-tab .tab-item .card-header p {
    font-size: 1rem;
    color: var(--bs-dropdown-item-color);
    margin-top: .75rem;
}

.config-items-tab .tab-item .card-header p:last-child,
.config-items-tab .list-group-item p:last-child {
    margin-bottom: 0;
}

html:not([dir="rtl"]) .config-items-tab .list-group-item .content {
    padding-right: 1rem;
}

html[dir="rtl"] .config-items-tab .list-group-item .content {
    padding-left: 1rem;
}

.config-items-tab .body-title {
    font-size: 1.0625rem;
}

.config-items-tab .body-title,
.config-items-tab .card-body p {
    color: var(--bs-gray-light);
}

.config-items-tab .list-group {
    padding-top: .5rem;
}

.list-group-item {
    --bs-list-group-border-color: #E9ECF4;
}

.config-items-tab .list-group-item {
    padding: 1rem;
    border-color: var(--bs-list-group-border-color);
    border-radius: var(--bs-border-radius-sm);
}

.config-items-tab .list-group-item h4 {
    color: var(--bs-gray);
    margin-bottom: 0;
}

.config-items-tab .list-group-item p {
    margin-top: .375rem;
}

.config-items-tab .form-check-input {
    width: 2.50rem;
    height: 1.5em;
    background-color: var(--bs-gray-dark);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    box-shadow: none;
}

.config-items-tab .form-check-input:active,
.config-items-tab .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.config-items-tab .form-check-input:checked {
    background-color: var(--bs-primary);
}

.config-items-tab .form-control {
    width: 66px;
    max-width: 66px;
    background-color: var(--bs-white);
    border: 1px solid var(--bs-list-group-border-color);
    border-radius: var(--bs-border-radius-sm);
    text-align: center;
    height: 50px;
    font-size: 1em;
    color: var(--bs-gray-light);
    font-weight: var(--font-regular);
}

.config-items-tab .card.print-formate .card-body {
    padding-top: 2px;
}

.config-items-tab .card.print-formate .card-header p {
    color: var(--bs-gray);
}

.config-items-tab textarea.form-control {
    width: 100%;
    max-width: 100%;
    height: 114px;
    resize: none;
    border: 1px solid var(--bs-list-group-border-color);
    margin-top: 4px;
    text-align: left;
    padding: 1rem;
}

.config-items-tab .btn-row {
    margin-top: 20px;
}

.btn-save {
    width: 94px;
}

/* New reservation page style */
.new-reservation-contents-row .title-text {
    color: var(--bs-config-title-color);
    font-size: 1.0625rem;
}

html:not([dir="rtl"]) .create-new-btn span {
    margin-right: 20px;
}

html[dir="rtl"] .create-new-btn span {
    margin-left: 20px;
}

.new-reservation-contents-row h4 {
    font-weight: var(--font-medium);
}

.accomodations-card .card-header {
    padding-bottom: 0;
}

.accomodations-card .card-header h4 {
    margin-bottom: 0;
}

.accomodations-card .card-body {
    background-color: var(--bs-body-bg);
    padding: 18px;
}

.accomodations-card .card-body h3 {
    margin-top: 6px;
    margin-bottom: 0;
}

.accomodations-card .card-body span {
    font-weight: var(--font-medium);
}

html:not([dir="rtl"]) .accomodations-card .card-body span+span {
    margin-left: 1rem;
}

html[dir="rtl"] .accomodations-card .card-body span+span {
    margin-right: 1rem;
}

.accomodations-card .date-row span {
    color: var(--bs-gray-light);
}

html:not([dir="rtl"]) .accomodations-card .card-body .date-row span+span {
    margin-left: 1em;
}

html[dir="rtl"] .accomodations-card .card-body .date-row span+span {
    margin-right: 1em;
}

.step-row {
    margin: 0;
    padding: 0;
    counter-reset: step-counter;
    list-style: none;
}

.step-item {
    color: var(--bs-gray-light);
    font-weight: var(--font-medium);
    font-size: 1rem;
    position: relative;
}

.step-item.active {
    color: var(--bs-primary);
}

html:not([dir="rtl"]) .step-item:not(:first-child) {
    margin-left: 1rem;
}

html[dir="rtl"] .step-item:not(:first-child) {
    margin-right: 1rem;
}

.step-item:not(:first-child)::before {
    content: "";
    border: 2px dashed currentColor;
    width: 68px;
    height: 1px;
    margin-top: -1px;
}

html:not([dir="rtl"]) .step-item:not(:first-child)::before {
    margin-right: 1rem;
}

html[dir="rtl"] .step-item:not(:first-child)::before {
    margin-left: 1rem;
}

.step-item h4 {
    white-space: nowrap;
    margin-bottom: 0;
}

.step-item h4::before {
    counter-increment: step-counter;
    content: counter(step-counter);
    width: 34px;
    min-width: 34px;
    height: 34px;
    min-height: 34px;
    border-radius: var(--bs-border-radius-pill);
    background-color: var(--bs-white);
    color: currentColor;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html:not([dir="rtl"]) .step-item h4::before {
    margin-right: .75rem;
}

html[dir="rtl"] .step-item h4::before {
    margin-left: .75rem;
}

.step-item.active h4::before {
    color: var(--bs-white);
    background-color: var(--bs-primary);
}

html:not([dir="rtl"]) .new-reservation-contents-row .form-check+a {
    margin-left: 4px;
}

html[dir="rtl"] .new-reservation-contents-row .form-check+a {
    margin-right: 4px;
}

.new-reservation-contents-row .table .btn-add-new {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    padding: 0;
    --bs-btn-border-radius: var(--bs-border-radius-lg);
}

html:not([dir="rtl"]) .new-reservation-contents-row .table .btn-add-new {
    margin-left: auto;
}

html[dir="rtl"] .new-reservation-contents-row .table .btn-add-new {
    margin-right: auto;
}

.new-reservation-contents-row .table .btn-add-new img {
    max-width: 100%;
}

/* Dashboard page style */
.dashboard-card-row .widget-card {
    box-shadow: var(--dashboard-widget-box-shadow);
    min-height: 140px;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

html:not([dir="rtl"]) .dashboard-card-row .widget-card .circle-progress {
    margin-right: 1.25rem;
}

html[dir="rtl"] .dashboard-card-row .widget-card .circle-progress {
    margin-left: 1.25rem;
}

.dashboard-card-row .widget-card h2 {
    margin: 0;
    font-weight: var(--font-bold);
    display: flex;
    align-items: center;
}

.dashboard-card-row .widget-card .title-text+h2 {
    margin-top: 10px;
    color: currentColor;
}

.dashboard-card-row .widget-card h2 span {
    color: var(--bs-dropdown-item-color);
    font-size: var(--bs-body-font-size);
}

html:not([dir="rtl"]) .dashboard-card-row .widget-card h2 span {
    margin-left: 10px;
}

html[dir="rtl"] .dashboard-card-row .widget-card h2 span {
    margin-right: 10px;
}

/* Area Chart style */
.chart-card img {
    max-width: 100%;
}

.navbar-toggler-humburger-icon {
    width: 32px;
}

.navbar-toggle-icon {
    position: relative;
    display: block;
    width: 100%;
}

.navbar-toggle-icon .toggle-line,
.navbar-toggle-icon::before,
.navbar-toggle-icon::after {
    width: 32px;
    height: 2px;
    display: block;
    content: "";
    background-color: var(--bs-primary);
}


.navbar-toggle-icon .toggle-line {
    margin: 6px 0;
}

.reservation-list-card .btn-row .btn {
    margin-top: 1em;
}

.custom-nav-tabs {
    border: 0px;
}

.custom-nav-tabs>.nav-link {
    flex-grow: 1;
    padding: 15px;
    font-size: 18px;
    font-weight: var(--font-medium);
    color: var(--bs-gray);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--bs-border-color);
    margin-bottom: 0;
}

.custom-nav-tabs>.nav-link.active {
    color: var(--bs-blue);
    border-color: var(--bs-blue);
}

.guest-card {
    position: relative;
    background-color: var(--bs-body-bg);
    color: var(--bs-primary);
    margin-top: 12px;
    padding: 18px;
    overflow: hidden;
}

.guest-card::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: currentColor;
}

html:not([dir="rtl"]) .guest-card::before {
    left: 0;
}

html[dir="rtl"] .guest-card::before {
    right: 0;
}

html[dir="rtl"] .me-auto {
    margin-left: auto !important;
    margin-right: initial !important;
}

html[dir="rtl"] .me-0 {
    margin-left: 0 !important;
    margin-right: initial !important;
}

html[dir="rtl"] .me-1 {
    margin-left: .25rem !important;
    margin-right: initial !important;
}

html[dir="rtl"] .me-2 {
    margin-left: .5rem !important;
    margin-right: initial !important;
}

html[dir="rtl"] .me-3 {
    margin-left: 1rem !important;
    margin-right: initial !important;
}

html[dir="rtl"] .me-4 {
    margin-left: 1.5rem !important;
    margin-right: initial !important;
}

html[dir="rtl"] .me-5 {
    margin-left: 3rem !important;
    margin-right: initial !important;
}

html[dir="rtl"] .ms-auto {
    margin-right: auto !important;
    margin-left: initial !important;
}

html[dir="rtl"] .ms-0 {
    margin-right: 0rem !important;
    margin-left: initial !important;
}

html[dir="rtl"] .ms-1 {
    margin-right: .25rem !important;
    margin-left: initial !important;
}

html[dir="rtl"] .ms-2 {
    margin-right: .5rem !important;
    margin-left: initial !important;
}

html[dir="rtl"] .ms-3 {
    margin-right: 1rem !important;
    margin-left: initial !important;
}

html[dir="rtl"] .ms-4 {
    margin-right: 1.5rem !important;
    margin-left: initial !important;
}

html[dir="rtl"] .ms-5 {
    margin-right: 3rem !important;
    margin-left: initial !important;
}

/* Responsive style */
@media screen and (min-width: 576px) {

    html[dir="rtl"] .ms-sm-0 {
        margin-right: 0 !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-sm-1 {
        margin-right: .25rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-sm-2 {
        margin-right: .5rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-sm-3 {
        margin-right: 1rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-sm-4 {
        margin-right: 1.5rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-sm-5 {
        margin-right: 3rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-sm-auto {
        margin-right: auto !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .me-sm-0 {
        margin-left: 0 !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-sm-1 {
        margin-left: .25rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-sm-2 {
        margin-left: .5rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-sm-3 {
        margin-left: 1rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-sm-4 {
        margin-left: 1.5rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-sm-5 {
        margin-left: 3rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-sm-auto {
        margin-left: auto !important;
        margin-right: initial !important;
    }
}

@media screen and (min-width: 768px) {
    html:not([dir="rtl"]) .ms-md-14 {
        margin-left: 14px !important;
    }

    html[dir="rtl"] .ms-md-14 {
        margin-right: 14px !important;
    }

    html[dir="rtl"] .ms-md-0 {
        margin-right: 0 !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-md-1 {
        margin-right: .25rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-md-2 {
        margin-right: .5rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-md-3 {
        margin-right: 1rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-md-4 {
        margin-right: 1.5rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-md-5 {
        margin-right: 3rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-md-auto {
        margin-right: auto !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .me-md-0 {
        margin-left: 0 !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-md-1 {
        margin-left: .25rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-md-2 {
        margin-left: .5rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-md-3 {
        margin-left: 1rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-md-4 {
        margin-left: 1.5rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-md-5 {
        margin-left: 3rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-md-auto {
        margin-left: auto !important;
        margin-right: initial !important;
    }
}

@media screen and (min-width: 992px) {

    html[dir="rtl"] .text-lg-start {
        text-align: right !important;
    }

    html[dir="rtl"] .ms-lg-auto {
        margin-right: auto !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-lg-0 {
        margin-right: 0 !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-lg-1 {
        margin-right: .25rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-lg-2 {
        margin-right: .5rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-lg-3 {
        margin-right: 1rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-lg-4 {
        margin-right: 1.5rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-lg-5 {
        margin-right: 3rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .me-lg-auto {
        margin-left: auto !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-lg-0 {
        margin-left: 0 !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-lg-1 {
        margin-left: .25rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-lg-2 {
        margin-left: .5rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-lg-3 {
        margin-left: 1rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-lg-4 {
        margin-left: 1.5rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-lg-5 {
        margin-left: 3rem !important;
        margin-right: initial !important;
    }

    .content-wrapper .container {
        padding: 51px 7.333% 92px;
    }
}

@media screen and (min-width: 1025px) {
    .filter-row .filter-item:not(.btn-wrap) {
        width: calc(100% / 4 - (102px / 4));
    }


    .filter-row[data-column="3"]:not(.no-button) .filter-item:not(.btn-wrap) {
        width: calc(100% / 3 - (102px / 3));
    }

    .filter-row[data-column="3"] .filter-item:not(.btn-wrap) {
        width: calc(100% / 3);
    }

}

@media screen and (min-width: 1200px) {

    html[dir="rtl"] .ms-xl-auto {
        margin-right: auto !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-xl-0 {
        margin-right: 0 !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-xl-1 {
        margin-right: .25rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-xl-2 {
        margin-right: .5rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-xl-3 {
        margin-right: 1rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-xl-4 {
        margin-right: 1.5rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-xl-5 {
        margin-right: 3rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .me-xl-auto {
        margin-left: auto !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-xl-0 {
        margin-left: 0 !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-xl-1 {
        margin-left: .25rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-xl-2 {
        margin-left: .5rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-xl-3 {
        margin-left: 1rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-xl-4 {
        margin-left: 1.5rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-xl-5 {
        margin-left: 3rem !important;
        margin-right: initial !important;
    }

    .sidebar {
        width: 225px;
    }

    .main-container {
        width: calc(100% - 225px);
    }

    html:not([dir="rtl"]) .main-container {
        margin-left: 225px;
    }

    html[dir="rtl"] .main-container {
        margin-right: 225px;
    }
}

@media screen and (min-width: 1360px) {
    .content-wrapper .container {
        padding: 51px 15.333% 92px;
    }
}

@media screen and (min-width: 1400px) {

    html[dir="rtl"] .ms-xxl-auto {
        margin-right: auto !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-xxl-0 {
        margin-right: 0 !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-xxl-1 {
        margin-right: .25rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-xxl-2 {
        margin-right: .5rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-xxl-3 {
        margin-right: 1rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-xxl-4 {
        margin-right: 1.5rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .ms-xxl-5 {
        margin-right: 3rem !important;
        margin-left: initial !important;
    }

    html[dir="rtl"] .me-xxl-auto {
        margin-left: auto !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-xxl-0 {
        margin-left: 0 !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-xxl-1 {
        margin-left: .25rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-xxl-2 {
        margin-left: .5rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-xxl-3 {
        margin-left: 1rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-xxl-4 {
        margin-left: 1.5rem !important;
        margin-right: initial !important;
    }

    html[dir="rtl"] .me-xxl-5 {
        margin-left: 3rem !important;
        margin-right: initial !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1359px) {

    .accomodations-card .card-body .date-row span {
        display: block;
        width: 100%;
    }

    .accomodations-card .card-body .date-row span+span {
        margin-top: 12px;
    }

    html:not([dir="rtl"]) .accomodations-card .card-body .date-row span+span {
        margin-left: 0;
    }

    html[dir="rtl"] .accomodations-card .card-body .date-row span+span {
        margin-right: 0;
    }
}

@media screen and (max-width: 1359px) {
    .accomodations-card .card-body .date-row {
        flex-wrap: wrap;
    }

    html:not([dir="rtl"]) .step-item {
        align-items: flex-start !important;
    }

    html[dir="rtl"] .step-item {
        align-items: flex-end !important;
    }

    .step-item h4 {
        justify-content: center;
        flex-wrap: wrap;
    }

    .step-item:not(:first-child)::before {
        margin-top: 15px;
    }

    html[dir="rtl"] .step-item:not(:first-child)::before {
        align-self: self-start;
    }

    .step-item span {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 12px;
    }
}

@media screen and (max-width: 1199px) {
    .sidebar {
        width: 70px;
    }

    html:not([dir="rtl"]) .sidebar {
        padding-left: 0.75rem;
    }

    html[dir="rtl"] .sidebar {
        padding-right: 0.75rem;
    }

    .sidebar.show {
        width: 225px;
    }

    .sidebar .nav-link.btn-toggle::after {
        opacity: 0;
    }

    .sidebar.show .nav-link.btn-toggle::after {
        opacity: 1;
    }

    .logo-wrap span {
        display: none;
    }

    .sidebar:not(.show) .nav-link {
        text-align: center;
    }

    html:not([dir="rtl"]) .sidebar:not(.show) .nav-link svg {
        margin-right: 0;
    }

    html[dir="rtl"] .sidebar:not(.show) .nav-link svg {
        margin-left: 0;
    }

    .sidebar:not(.show) .nav-link span {
        display: none;
    }

    .main-container {
        width: calc(100% - 70px);
    }

    html:not([dir="rtl"]) .main-container {
        margin-left: 70px;
    }

    html[dir="rtl"] .main-container {
        margin-right: 70px;
    }
}

@media screen and (max-width: 1024px) {
    /* .filter-row .filter-item:not(.btn-wrap){
        width: calc(100% / 3 - (102px / 3));
        max-width: 33.3333%;
    } */
}

@media screen and (max-width: 767px) {
    .sidebar {
        width: 255px;
        transform: translateX(-100%);
    }

    .sidebar.show {
        transform: translateX(0%);
    }

    html[dir="rtl"] .sidebar {
        transform: translateX(100%);
    }

    html[dir="rtl"] .sidebar.show {
        transform: translateX(0%);
    }

    .logo-wrap span,
    .sidebar .nav-link span {
        display: inline-block;
    }

    .sidebar .nav {
        margin-top: 1rem !important;
    }

    html:not([dir="rtl"]) .sidebar .nav-link {
        text-align: left;
    }

    html[dir="rtl"] .sidebar .nav-link {
        text-align: right;
    }

    html:not([dir="rtl"]) .sidebar .nav-link svg {
        margin-right: 0.5rem;
    }

    html[dir="rtl"] .sidebar .nav-link svg {
        margin-left: 0.5rem;
    }

    .main-container {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    html:not([dir="rtl"]) .main-container,
    html[dir="rtl"] .main-container {
        margin-left: 0;
        margin-right: 0;
    }

    .step-item span {
        display: none;
    }

    .config-items-tab .nav-item {
        width: calc(100% - .75rem);
    }
}

@media screen and (max-width: 575px) {
    .step-item:not(:first-child)::before {
        width: 30px;
    }
}